version: '3.8'
services:
  db:
    image: postgres:15
    container_name: crm_atletica_db
    restart: always
    environment:
      POSTGRES_DB: crm_atletica
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data:
